extends layout

block css 
  link(rel='stylesheet', href='/stylesheets/champion_select.css')
  link(rel='stylesheet', href='/stylesheets/cost.css')

block script 
  script(src="/javascripts/champ_sort.js") 

block content
  .champion
    .champ_selector
      .search_bar
        input(type="text", placeholder="Champion Name...", class="searchBar")
        select.sortBy(name="sortBy")
          option(value="name", selected) name 
          option(value="cost") cost 
      .champ_container 
        if(data)
          each champion in data 
            a.block(href=champion.url, class= ("cost-"+champion.cost), id=champion.name)
              span(class=("cost-"+champion.cost)) $#{champion.cost}
              img(src=(champion.portraitURL), alt=champion.name) 
              p1= champion.name 

    .champ_detail 
      if(champion)
        .champ_banner 
          .banner_background(style=("background-image: url('"+champion.bannerURL+"')"), class=("cost-"+champion.cost))
            .banner_detail
              p #{champion.name} 
            .banner_traits
              .banner_trait 
                span Trait:
                each trait in traits
                  .trait
                    a(href=trait.url)
                      img(src= trait.svgURL)
                    p= trait.name
        .champ_ablity_detail 
          span not implemented


         
      else 
        a none
      if(find)
        .cham_item  
  




