extends layout

block script 
    script(src="/javascripts/createSlot.js", type="module") 
    script(src="/javascripts/slotManager.js", champions = champion) 

block css 
    link(rel="stylesheet", href="/stylesheets/rerollSim.css")
    link(rel="stylesheet", href="/stylesheets/shopUI.css")
    link(rel="stylesheet", href="/stylesheets/championBlock.css")
    link(rel="stylesheet", href="/stylesheets/board.css")
    link(rel='stylesheet', href='/stylesheets/champion_select.css')
    link(rel='stylesheet', href='/stylesheets/cost.css')


block link
    for e in champion 
        //- link(rel="preload", as="image", href="../images/SET7/protrait/"+e._id+".png")
    

block content 
    .body(style="display:none")
        .wrapper 
            .board 
                .statistic
                    .correct 
                        p1 Correct: 
                        p2.correct_num 12
                    .incorrect 
                        p1 Incorrect: 
                        p2.incorrect_num 0
                    .miss 
                        p1 Missed: 
                        p2.miss_num 0
                    .reroll
                        p1 Refresh: 
                        p2.reroll_num 0 
                    .start_wrapper
                        button(class="start") Start
                .interface
                    .search_bar 
                        .textBar 
                            input.bar(type="text", placeholder="Search by name...")
                            button(class="clear") Clear

                        .setCost
                            select(class="cost")
                                option(value="") Cost
                                option(value="1") 1 
                                option(value="1") 2 
                                option(value="1") 3 
                                option(value="1") 4 / 8 
                                option(value="1") 5 / 10 

                        .setTrait
                            select(class="trait")
                                option(value="") Trait
                                for trait in traits     
                                    option(value=trait.name) #{trait.name}

                    .select_champ
                        if(champion)
                            each e in champion 
                                div.block(class= ("cost-"+e.cost), id=e._id)
                                    span(class=("cost-"+e.cost)) $#{e.cost}
                                    img(src=(e.portraitURL), alt=e.name) 
                                    p1= e.name 
                                    div(data-id=e.id, data-trait=e.trait, data-name=e.name, data-cost=e.cost)

            .shop
                .upper 
                    .level 
                        .level_num 
                            //- p1 Lvl. 1 
                            p1(class="levelDisplay") Lvl.
                        .level_select
                            input(type="range", min="1", max="11", class="slider", value="1")
                        
                    .rollChance 
                        .rollChanceWrapper
                            .chance-1 
                                img(src="../images/cost gem/1chance.png")
                                p1(class="chance") 0%
                            .chance-2
                                img(src="../images/cost gem/2chance.png")
                                p1(class="chance") 0%
                            .chance-3
                                img(src="../images/cost gem/3chance.png")
                                p1(class="chance") 0%
                            .chance-4 
                                img(src="../images/cost gem/4chance.png")
                                p1(class="chance") 0%
                            .chance-5
                                img(src="../images/cost gem/5chance.png")
                                p1(class="chance") 0%
                    .gold 
                        img(src="../images/UI_asset/goldIcon.png")
                        p1 00
                    .lock
                        
                .lower 
                    .border

                    .action 
                        .XP 
                            img(src="../images/UI_asset/xpButton.png")
                            p(class="top") Buy XP
                            .text 
                                img(src="../images/UI_asset/goldIcon.png")
                                p1 4
                        .refresh 
                            img(src="../images/UI_asset/rerollButton.png")
                            p(class="top") Refresh(D)
                            .text 
                                img(src="../images/UI_asset/goldIcon.png")
                                p1 2

                    .buyChampion

                        //- .block_champion
                        //-     .border
                        //-     .gem
                        //-         img(src="../images/cost gem/5cost.png")

                        //-     .outline
                        //-         .portrait
                        //-             img(class="portaitIMG", src="../images/SET7/protrait/"+data._id+".png")

                        //-          .trait 
                        //-             .traitIMG
                        //-                 img(src="../images/UI_asset/traitBG.png", class="bg")
                        //-                 img(src="../images/SET7/traits/Bard.svg", class="icon")
                        //-                 p Bard 
                                    
                        //-         .description 
                        //-             .name 
                        //-                 p Bard 
                        //-             .cost 
                        //-                 img(src="../images/UI_asset/goldIcon.png")
                        //-                 p 5
